@model List<CartItem>

<div class="container">
    <div class="row">
        @foreach (var cartItem in Model)
        {
            <div class="col-md-12">
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">@cartItem.Product.Name</h5>
                        <p>Price per item: <span class="text-primary">€@cartItem.Product.Price</span></p>
                        <p>Quantity: <span class="text-primary">@cartItem.Quantity</span></p>
                        <p>Total price: <span class="text-primary">€@cartItem.TotalPrice</span></p>

                        <form action="/Cart/UpdateQuantity" method="post" class="mb-2">
                            <input type="hidden" name="productId" value="@cartItem.Product.Id" />
                            <div class="input-group mb-3">
                                <input type="number" name="quantity" value="@cartItem.Quantity" min="0" class="form-control" />
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-primary">Update Quantity</button>
                                </div>
                            </div>
                        </form>

                        <form action="/Cart/RemoveFromCart" method="post">
                            <input type="hidden" name="productId" value="@cartItem.Product.Id" />
                            <button type="submit" class="btn btn-danger">Remove from Cart</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
